<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Dating</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="home">
    <div class="container">
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="80" height="80">
            <path fill="#1877F2" d="M24 4C12.95 4 4 12.95 4 24c0 9.9 7.2 18.1 16.6 19.7V30.9h-5v-6.9h5v-5.3c0-5 3-7.8 7.6-7.8 2.2 0 4.5.4 4.5.4v5h-2.5c-2.5 0-3.3 1.6-3.3 3.2v3.5h5.6l-.9 6.9h-4.7v12.8C36.8 42.1 44 33.9 44 24c0-11.05-8.95-20-20-20z"/>
        </svg>
        <h1>Conexões que começam com um clique</h1>
        <p>Milhares de pessoas procuram amor online.<br>Descubra quem está esperando por você.</p>
        <a href="/login" class="btn">Entrar</a>
    </div>
</body>
</html>
